<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Title</title>

    <link rel="stylesheet" href="normalize.css" />
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <section class="section">
      <div class="section__inner">
        <div class="section__text">
          <h1 class="section__header-title">
            A Taste of Artificial Intelligence (AI)
          </h1>
          <p>
            Are you wondering what AI can do? Below is an interactive AI module
            that can recognize any digit that you write! Reading the following
            chapters will enable you to understand how this module works behind
            the scenes.
          </p>
        </div>
        <div class="section__content">
          <img src="nums.png" />
        </div>
      </div>
    </section>
    <section class="section">
      <div class="section__inner">
        <div class="section__text">
          <h2>
            Handwritten Digit Recognition
          </h2>
          <p>
            Draw a single digit (0-9) in the white box below and click the
            "recognize" button. The digit you write can be recognized with a
            success rate of 98.08%.
          </p>
        </div>
        <div class="section__content">
          <img src="nums.png" />
        </div>
      </div>
    </section>

    <script src="https://bundle.run/css-scroll-snap-polyfill@0.1.2"></script>
  </body>
</html>
