@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

/* Scroll Snap */
body {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

body > * {
  scroll-snap-align: start;
}

.section {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  position: relative;
  overflow-x: hidden;

  display: flex;
  align-items: center;
}

.section__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.section__text {
  flex: 0 0 83.333%;
  max-width: 83.333%;
  order: 2;
}

.section__content {
  flex: 0 0 83.333%;
  max-width: 83.333%;
  order: 1;
}

@media (min-width: 768px) {
  .section__text {
    margin: 0 15px;
    order: 1;
    flex: 0 0 33.333%;
    max-width: 41.666%;
  }

  .section__content {
    margin: 0 15px;
    order: 2;
    flex: 0 0 41.666%;
    max-width: 41.666%;
  }
}

.section__content > img {
  display: block;
  height: 35vh;
  width: auto;
  margin: auto;
}

.section__text > h1 {
  font-size: 2.25rem;
  font-family: 'Nunito', serif;
  font-weight: normal;
}

.section__text > h2 {
  font-size: 2rem;
  font-family: 'Nunito', serif;
  font-weight: normal;
}

.section__text > p {
  font-family: 'Nunito', sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .section__content > img {
    width: 100%;
    height: auto;
  }
}

/* 


.header {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  position: relative;
  overflow-x: hidden;

  display: flex;
  align-items: center;
}

.header__main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.header__text {
  flex: 0 0 83.333%;
  max-width: 83.333%;
  order: 2;
}

.header__hero {
  flex: 0 0 83.333%;
  max-width: 83.333%;
  order: 1;
}

.header__hero-img {

}

@media (min-width: 768px) {
  .header__text {
    margin: 0 15px;
    order: 1;
    flex: 0 0 33.333%;
    max-width: 41.666%;
  }
  .header__hero {
    margin: 0 15px;
    order: 2;
    flex: 0 0 41.666%;
    max-width: 41.666%;
  }
  .header__hero-img {
    width: 100%;
    height: auto;
  }
}

.header__title {
  font-size: 2rem;
  font-family: 'Nunito', serif;
}

.header__description {
  font-family: 'Nunito', sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
}

.page-1 {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  position: relative;
  overflow-x: hidden;
  background-color: red;
} */
