@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Literata:400,400i,700,700i&display=swap');

body {
  margin: 0;
  font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  width: 100%;
  display: block;
}

* {
  line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Literata', serif;
}

.wrapper {
  display: flex;
  min-height: 100vh;
}
.col-left {
  padding: 0.5rem 1.5rem;
  /* background-color: #d6effa; */
  flex: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-left-content {
  display: block;
}

.col-right {
  padding: 1rem;
  flex: 60%;
}

.btn {
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.more {
  padding: 0em 1em;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100px;
  cursor: pointer;
  display: inline-block;
}
.more-expanded {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0em 1em;
  border-radius: 100px;
}
